---
---

@import "minima";

.site-header {
  background-color: #2e4c6d !important;
  border-top: 5px solid #2e4c6d !important;
  border-bottom: 1px solid #2e4c6d !important;

}

.site-title, .site-title:visited, .site-nav .page-link {
  color: #fff !important;
}

.site-nav {
  display: none;
}

img {
  max-width: 75% !important;
}

a:hover {
  text-decoration: none;
}

p a:link, p a:visited, p a:hover, p a:active {
  color: #8cacd4 !important;
}
